<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428200440634-gs58te7bcokukjeperocse1j8dnga22s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428200440634-gs58te7bcokukjeperocse1j8dnga22s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>428200440634-kdcdi3hcm0ue80m263eijq4kddfa33n1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvu5HeQuzzZtymEZpDznf6Vtm9bZGlGL0</string>
	<key>GCM_SENDER_ID</key>
	<string>428200440634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mealmateIos</string>
	<key>PROJECT_ID</key>
	<string>mealmate-4474c</string>
	<key>STORAGE_BUCKET</key>
	<string>mealmate-4474c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428200440634:ios:06c2614fb20b09423f9603</string>
</dict>
</plist>